<nav class="navbar static-bottom navbar-dark bg-light footer text-center">
    <a class="navbar-brand" href="https://github.com/BreadBooks/BestBurger" target="_blank"> 
    <img src="/assets/images/github.png" width="30" height="30" class="d-inline-block align-top" alt=""> 
    BreadBooks
    </a>
  </nav>