<div class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Eat Da Burger</h1>
    <p class="lead">Search for any burger you like and devour it! Yum!</p>
  </div>
</div>